################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/MeuSiteDeTendenciasMVC/FileContentIndex/f830c50a-0d50-4948-9484-f57978cba810.vsidx
